@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@font-face {
    font-family: 'Space Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
    
  }
  body{
    font-family: 'Space Mono';
    background-color: #F6F8FF;
    color: #4B6A9B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .dark   {
    color: #222731;
    font-weight: 700;
}
  .main_container {
    background: #F6F8FF;
    padding: 24px;
    width: 95%;
    
  }
  
  .finder_outer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .finder_outer h3{
    font-size: 26px;
    line-height: 39px;
    font-style: normal;
    font-weight: 700;
    margin-top: 11px ;
    margin-bottom: 11px;
    cursor: default;
  }

  .mode_box {
    display: flex;
    flex-direction: row;
  }

  .mode_box p {
    font-weight: 700;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 2.5px;
    cursor: pointer;
  }
  .mode_box img {
    width: 20px;
    height: 20px;
    
  }
  .mode_box img:hover {
    cursor: pointer;
  }
  .search_area {
    background-color: #FEFEFE ;
    border-radius: 15px;
    justify-content: space-between;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  }
  .search_area img {
    margin-left: 16px;
  }
  .search_button {
    margin: 7px;
    max-width:30% ;
    width: 84px;
    height: 46px;
    color: #FFFFFF;
    background-color:#0079FF;
    border: 0px solid transparent;
    border-radius: 10px;
  }
  .search_button:hover{
    cursor: pointer;
    background-color: #60ABFF;
  }
  .search_name {
    height: 25px;
    line-height: 20px;
    border-width: 0px;
    outline-color:#0079FF;
    width: calc(100% - 130px);
    margin-left: 5px;
    font-size: 13px;
    line-height: 25px;
    padding: 10px;
    outline-style: none;
    caret-color: #0079FF;
    
  } 
  
  .user_info_outer_final{
    display: flex;
    flex-direction: row;
    background-color: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgb(70 96 187 / 20%);
    border-radius: 15px;
    margin-top: 16px;
  }
  
  .user_info_outer {
    background-color: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgb(70 96 187 / 20%);
    border-radius: 15px;
    margin-top: 16px;
    padding: 24px;
   
  }
  .desktop_user_image {
    display: none;
  }
  .mobile_img{
    width: 70px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .user_box {
    display: flex;
    flex-direction: row;
  }
  .the_username {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 24px;
  }
  .username {
    margin:0px;
    color: #0079FF;
    font-size: 13px;
  }
  .registration_date {
    font-size: 13px;
    margin: 0px;
    line-height: 25px;
  }

  .errormessage {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #F74646;
    text-align: right;
  }
  .rep_followers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#F6F8FF ;
    border-radius: 10px;
  }
  .user_bio {
    font-size: 13px;
  }
  .follower_info {
    text-align: center;
  }
  .followers h5{
    font-size: 11px;
    margin-bottom: 8px;
  }
  .followers p {
    margin-top: 8px;
    margin-bottom: 19px;
  }

  .workplace_details{
    display: flex;
    flex-direction: column;
    margin-top: 15px!important;
  }

  .section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .section1 p,a{
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .section1 a {
    text-decoration: none;
    color: #4B6A9B;
  }
  .section1 a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .bottom_icons {
    margin-right: 14px;
  }
  .loc-icon {
    width: 13.75px;
    height: 20px;
    margin-right: 20px;
  }
  #mode-indicator {
    cursor: pointer;
  }
  .light {
    color:#FFFFFF;
    font-weight: 700;
  }
  .lightmode{
    
    color: rgb(75, 106, 155);
  }
.lightmode:hover {
  color: #222731;
  filter: brightness(0) saturate(100%) invert(10%) sepia(16%) saturate(1005%) hue-rotate(181deg) brightness(98%) contrast(87%);
}
.darkmode:hover {
  color: #90A4D4;
  filter: brightness(0) saturate(100%) invert(66%) sepia(33%) saturate(376%) hue-rotate(184deg) brightness(94%) contrast(87%);
}

@media only screen and (min-width: 500px) {
  .wokrplace_details {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  .main_container {
    width: 90%;
    max-width: 600px;
  }
 .area1{
  display: flex;
 }
 .area2{
  display:flex;
}
.section1{
  width: 50%;
  overflow: hidden;
}
.mobile_img{
  height: 117px;
  width: 117px;
}
.the_username{
  font-size: 26px;
  line-height: 39px;
}
.username{
  font-size: 16px;
}
.registration_info{
  padding-top: 12px;
  padding-left: 20px;
}
.registration_date{
  font-size: 15px;
}
.user_info_outer{
  padding: 40px;
}
.user-bio{
  font-size: 15px;
  line-height: 25px;
}
.rep_followers{
  margin-top: 30px;
}
.followers h5{
  font-size: 13px;
}
.follower_info{
  font-size: 22px;
}
}

